ran1.txt
*.txt
garbage.py
*.xlsx
*.xls
*.jpg
*.png
*.jpeg
/pdata*
*.pdf
/xlsfileprocess/*.dat
/xlsfileprocess/namingFinalfile.py
*.pyc
/xlsfileprocess/*.csv
/xlsfileprocess/*.zip
/xlsfileprocess/*.json
*.json
/xlsfileprocess/myenv/
/xlsfileprocess/*.pyc
/xlsfileprocess/Amplitudephase.dat
/xlsfileprocess/finalcombined_data.dat
/xlsfileprocess/finalcombined_datannnnnnnnn.dat
/xlsfileprocess/myevev/
/xlsfileprocess/dataproblem/
/xlsfileprocess/.ipynb_checkpoints
/xlsfileprocess/test_completeCleancode.ipynb
/xlsfileprocess/.ipynb_checkpoints/process_plot_data-checkpoint.ipynb
.idea/
/xlsfileprocess/find_variablePyFiles.py
/xlsfileprocess/shape2identifyEnd.py


