ran1.txt
*.txt
garbage.py
*.xlsx
*.xls
*.jpg
*.png
*.jpeg
pdata*
*.pdf
*.dat
namingFinalfile.py
*.pyc
*.csv
*.zip
*.json
*.json
myenv/
*.pyc
Amplitudephase.dat
finalcombined_data.dat
finalcombined_datannnnnnnnn.dat
myevev
.ipynb_checkpoints/
test_completeCleancode.ipynb
.idea
find_variablePyFiles.py
shape2identifyEnd.py
.ipynb_checkpoints/
data/
.ipynb_checkpoints/process_plot_data-checkpoint.ipynb

